[Desktop Entry]
Name=Grub Customizer
Comment[de]=Grub2 anpassen
Comment[en]=Customize grub2
Exec=pkexec grub-customizer
Terminal=false
X-MultipleArgs=false
Type=Application
StartupNotify=false
Categories=GNOME;GTK;System;
Icon=grub-customizer

