* text=auto !eol
/CMakeLists.txt -text
/README -text
/config.h.in -text
debian/changelog -text
debian/changelog_lucid -text
debian/changelog_maverick -text
debian/control -text
debian/copyright -text
debian/rules -text
/grub-customizer.desktop -text
icons/128x128.png -text svneol=unset#unset
icons/14x14.png -text svneol=unset#unset
icons/16x16.png -text svneol=unset#unset
icons/192x192.png -text svneol=unset#unset
icons/22x22.png -text svneol=unset#unset
icons/24x24.png -text svneol=unset#unset
icons/32x32.png -text svneol=unset#unset
icons/48x48.png -text svneol=unset#unset
icons/64x64.png -text svneol=unset#unset
my_cmake_scripts/FindPkgConfig.cmake -text
src_dir/CMakeLists.txt -text
src_dir/Makefile -text
src_dir/config.h -text
src_dir/deviceDataList.cpp -text
src_dir/deviceDataList.h -text
src_dir/entry.cpp -text
src_dir/entry.h -text
src_dir/fbResolutionsGetter.cpp -text
src_dir/fbResolutionsGetter.h -text
src_dir/generatedConfig.dump -text
src_dir/grubcfg_proxy.cpp -text
src_dir/grubconf_ui.h -text
src_dir/grubconf_ui_gtk.cpp -text
src_dir/grubconf_ui_gtk.h -text
src_dir/grubconfig.cpp -text
src_dir/grubconfig.h -text
src_dir/gtk-client.cpp -text
src_dir/libproxyscript_parser.cpp -text
src_dir/libproxyscript_parser.h -text
src_dir/liveCDSetupDialog.cpp -text
src_dir/liveCDSetupDialog.h -text
src_dir/mountTable.cpp -text
src_dir/mountTable.h -text
src_dir/proxy.cpp -text
src_dir/proxy.h -text
src_dir/proxylist.cpp -text
src_dir/proxylist.h -text
src_dir/pscriptname_translator.cpp -text
src_dir/pscriptname_translator.h -text
src_dir/repository.cpp -text
src_dir/repository.h -text
src_dir/rule.cpp -text
src_dir/rule.h -text
src_dir/script.cpp -text
src_dir/script.h -text
src_dir/settings_dlg.h -text
src_dir/settings_dlg_gtk.cpp -text
src_dir/settings_dlg_gtk.h -text
src_dir/settings_mng_ds.cpp -text
src_dir/settings_mng_ds.h -text
src_dir/umount_all.cpp -text
src_dir/umount_all.h -text
translation/complile_all.sh -text
translation/messages.pot -text
translation/translation-bg.mo -text svneol=unset#unset
translation/translation-bg.po -text
translation/translation-de.mo -text svneol=unset#unset
translation/translation-de.po -text
translation/translation-el.mo -text svneol=unset#unset
translation/translation-el.po -text
translation/translation-es.mo -text svneol=unset#unset
translation/translation-es.po -text
translation/translation-fr.mo -text svneol=unset#unset
translation/translation-fr.po -text
translation/translation-gl.mo -text svneol=unset#unset
translation/translation-gl.po -text
translation/translation-hr.mo -text svneol=unset#unset
translation/translation-hr.po -text
translation/translation-it.mo -text svneol=unset#unset
translation/translation-it.po -text
translation/translation-pl.mo -text svneol=unset#unset
translation/translation-pl.po -text
translation/translation-pt_BR.mo -text svneol=unset#unset
translation/translation-pt_BR.po -text
translation/translation-ru.mo -text svneol=unset#unset
translation/translation-ru.po -text
translation/translation-tr.mo -text svneol=unset#unset
translation/translation-tr.po -text
translation/translation-uk.mo -text svneol=unset#unset
translation/translation-uk.po -text
