* text=auto !eol
/CMakeLists.txt -text
/README -text
/cmake_install.cmake -text
debian/changelog -text
my_cmake_scripts/FindPkgConfig.cmake -text
src_dir/CMakeLists.txt -text
src_dir/Makefile -text
src_dir/cmake_install.cmake -text
src_dir/grubcfg_proxy.cpp -text
src_dir/grubconf_ui.h -text
src_dir/grubconf_ui_gtk.cpp -text
src_dir/grubconf_ui_gtk.h -text
src_dir/grubconfig.cpp -text
src_dir/grubconfig.h -text
src_dir/gtk-client.cpp -text
src_dir/libproxyscript_parser.cpp -text
src_dir/libproxyscript_parser.h -text
translation/german.mo -text svneol=unset#unset
translation/messages.pot -text
