* text=auto !eol
/CMakeLists.txt -text
/COPYING -text
/README -text
/cmake_uninstall.cmake.in -text
/config.h.in -text
debian/changelog -text
debian/changelog.d -text
debian/changelog.natty_repo -text
debian/compat -text
debian/control -text
debian/copyright -text
debian/debhelper.log -text
debian/rules -text
debian/source/format -text
debian/watch -text
misc/copyright -text
misc/grub-customizer.desktop -text
misc/icons/128x128.png -text svneol=unset#unset
misc/icons/14x14.png -text svneol=unset#unset
misc/icons/16x16.png -text svneol=unset#unset
misc/icons/192x192.png -text svneol=unset#unset
misc/icons/22x22.png -text svneol=unset#unset
misc/icons/24x24.png -text svneol=unset#unset
misc/icons/32x32.png -text svneol=unset#unset
misc/icons/48x48.png -text svneol=unset#unset
misc/icons/64x64.png -text svneol=unset#unset
misc/manpage.gz -text svneol=unset#unset
misc/upstream-changelog.gz -text svneol=unset#unset
src/config.h -text
src/interface/eventListener_model_iface.h -text
src/interface/eventListener_view_iface.h -text
src/interface/grubconf_ui.h -text
src/interface/settings_dlg.h -text
src/model/deviceDataList.cpp -text
src/model/deviceDataList.h -text
src/model/entry.cpp -text
src/model/entry.h -text
src/model/fbResolutionsGetter.cpp -text
src/model/fbResolutionsGetter.h -text
src/model/grubEnv.cpp -text
src/model/grubEnv.h -text
src/model/grubInstaller.cpp -text
src/model/grubInstaller.h -text
src/model/grublistCfg.cpp -text
src/model/grublistCfg.h -text
src/model/libproxyscript_parser.cpp -text
src/model/libproxyscript_parser.h -text
src/model/mountTable.cpp -text
src/model/mountTable.h -text
src/model/proxy.cpp -text
src/model/proxy.h -text
src/model/proxylist.cpp -text
src/model/proxylist.h -text
src/model/pscriptname_translator.cpp -text
src/model/pscriptname_translator.h -text
src/model/repository.cpp -text
src/model/repository.h -text
src/model/rule.cpp -text
src/model/rule.h -text
src/model/script.cpp -text
src/model/script.h -text
src/model/settings_mng_ds.cpp -text
src/model/settings_mng_ds.h -text
src/model/umount_all.cpp -text
src/model/umount_all.h -text
src/presenter/eventListener_abstract.cpp -text
src/presenter/eventListener_abstract.h -text
src/presenter/eventListener_model.cpp -text
src/presenter/eventListener_model.h -text
src/presenter/eventListener_view.cpp -text
src/presenter/eventListener_view.h -text
src/presenter/grubcfg_proxy_main.cpp -text
src/presenter/gtk-client.cpp -text
src/presenter/gtk-client.h -text
src/presenter/gtk-client_main.cpp -text
src/view/grubInstallDlg.cpp -text
src/view/grubInstallDlg.h -text
src/view/grubconf_ui_gtk.cpp -text
src/view/grubconf_ui_gtk.h -text
src/view/partitionChooser.cpp -text
src/view/partitionChooser.h -text
src/view/settings_dlg_gtk.cpp -text
src/view/settings_dlg_gtk.h -text
translation/complile_all.sh -text
translation/messages.pot -text
translation/translation-bg.mo -text svneol=unset#unset
translation/translation-bg.po -text
translation/translation-de.mo -text svneol=unset#unset
translation/translation-de.po -text
translation/translation-el.mo -text svneol=unset#unset
translation/translation-el.po -text
translation/translation-es.mo -text svneol=unset#unset
translation/translation-es.po -text
translation/translation-fr.mo -text svneol=unset#unset
translation/translation-fr.po -text
translation/translation-gl.mo -text svneol=unset#unset
translation/translation-gl.po -text
translation/translation-hr.mo -text svneol=unset#unset
translation/translation-hr.po -text
translation/translation-it.mo -text svneol=unset#unset
translation/translation-it.po -text
translation/translation-pl.mo -text svneol=unset#unset
translation/translation-pl.po -text
translation/translation-pt_BR.mo -text svneol=unset#unset
translation/translation-pt_BR.po -text
translation/translation-ru.mo -text svneol=unset#unset
translation/translation-ru.po -text
translation/translation-tr.mo -text svneol=unset#unset
translation/translation-tr.po -text
translation/translation-uk.mo -text svneol=unset#unset
translation/translation-uk.po -text
translation/translation-zh_CN.mo -text svneol=unset#unset
translation/translation-zh_CN.po -text
